.slider_area {
    min-width: 0;
    /* min-height: calc(100vh - 165px); */
    overflow: hidden;
    background: #eceef3;
    position: relative;
    height: 100vh;
    position: relative;
}

.slider_area.mr_top {
    margin-top: 150px;
}

.slide-img-1 {
    background: url(../img/home-slider/slide-1.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slide-img-2 {
    background: url(../img/home-slider/slide-2.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.slide-img-3 {
    background: url(../img/home-slider/slider-3.jpeg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

[data-overlay-dark]:before,
[data-overlay-light]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.5;
}

.slider_area [data-overlay-dark]:before {
    background: #000;
    opacity: 0.6;
}

.slider_area [data-overlay-light]:before {
    background: #FFF;
}

.slider_area .item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: top;
}

.slider_area .owl-item {
    height: 100vh;
    position: relative;
}

/* .slider_area.h-none{
    min-width: 0;
    height: auto !important;
    overflow: hidden;
} */
.slider_area .container-fluid {
    position: relative;
    padding-right: 0;
    padding-left: 0;
}

.slider_area .row {
    height: 100%;
}

.slider_area .col-lg-12 {
    position: relative;
    padding: 0;
    height: 100%;
}

.slider_area .slide {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: right;
}

/*.nobanner-slider.slider_area .slide {
    background: url(../img/home-slider/slide-1.png) 120% top no-repeat;
    
}*/
.slider_area .slide img {
    max-width: 100%;
}

.slider_area::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.slider_area .middle {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
    z-index: 1;
    transform: translate(0%, -50%);
}

.slider_area h1 {
    color: #FFF;
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    /*font-family: 'Roboto', sans-serif;*/
}

.text_stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255 255 255 / 60%);
    color: transparent;
}

.slider_area h2 {
    color: #FFF;
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;


}

.slider_area h3 {
    color: #FFF;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.slider_area h3:before {
    content: "";
    width: 76px;
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 207px;
    top: 21px;
    display: none;
}

.slider_area p {
    font-size: 16px;
    color: #FFF;
    margin-bottom: 30px;
}


.slider_area .owl-nav [class*=owl-] {
    width: 37px;
    height: 37px;
    color: #242424;
    line-height: 35px;
    padding: 0;
    background: transparent;
    border: 1px solid #242424;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.slider_area .owl-nav .owl-prev,
.slider_area .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    margin-right: 10px;
    color: #FFF;
    font-size: 26px;
    margin: 5px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 100%;
    line-height: 64px;
}

.slider_area .owl-nav {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    margin: auto;
}

.slider_area .owl-nav .owl-prev {
    left: 30px;
}

.slider_area .owl-nav .owl-next {
    right: 30px;

}

/*.slider_area:hover .owl-nav .owl-prev, .slider_area:hover .owl-nav .owl-next{
    background: #f16c24;
    color: #fff;
}*/
.slider_area .owl-nav .owl-prev:hover {
    background: var(--color-primary);
    color: #fff;
}

.slider_area .owl-nav .owl-next:hover {
    background: var(--color-primary);
    color: #fff;
}

/*...................End Slder...................*/

.parallax-header {
    background-position: center;
    height: 100vh;
    min-height: 500px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.parallax-header:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
}

.p-dlide-1 {
    background: url(../img/home-slider/slide-1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.p-dlide-2 {
    background: url(../img/home-slider/slider-1.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.p-dlide-3 {
    background: url(../img/home-slider/slider-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.p-dlide-4 {
    background: url(../img/home-slider/slider-4.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
}

.slider-slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    z-index: 1;
}

.slider-slide.active {
    opacity: 1;
    z-index: 2;
}

.slider-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    z-index: 1;
}

.parallax-header .slider-container {
    pointer-events: none;
}

.parallax-header .container {
    position: relative;
    z-index: 20;
}

.ban-img-1 {
    background: url(../img/home-slider/banner-single.html);
    z-index: 1;
    position: relative;
}

.z-up {
    z-index: 1;
    position: relative;
}

/*.p-dlide-1:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
    opacity: 0.2;
}*/
/*[data-overlay-dark] .container {
    position: relative;
    z-index: 2;
}*/
[data-overlay-dark="6"]:before {
    opacity: 0.6;
}

[data-overlay-dark]:before {
    background: #000;
}

.bg-fixed {
    background-attachment: fixed;
}

.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
}

.valign {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.v-bottom {
    position: absolute;
    width: 100%;
    bottom: 5%;
    left: 0;
    -webkit-transform: translate(0%, -5%);
    transform: translate(0%, -5%);
    z-index: 9;
}

.parallax-header h1 {
    color: #FFF;
    font-size: 60px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

.parallax-header h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 100px;
}

.video-fullscreen-wrap {
    height: 100vh;
    overflow: hidden;

}

.video-fullscreen-video {
    height: 100%;
    width: 100%;
}

.video-fullscreen-wrap video {
    width: 100vw;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

[data-overlay-dark="7"]:before {
    opacity: 0.7;
}

[data-overlay-dark]:before {
    background: #000;
}

.v-middle {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    z-index: 9;
}

.video-fullscreen-wrap h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    position: relative;
    line-height: 1.25em;
    text-transform: uppercase;
}

.video-fullscreen-wrap h3 {
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
}



@media (max-width: 1024px) {

    .slider_area .middle {
        left: 50px;
    }

    .slider_area h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .slider_area .owl-item {
        height: 100vh;
        position: relative;
    }
}

@media (max-width: 992px) {

    .slider_area {
        height: auto;
    }

    .slider_area.mr_top {
        margin-top: 90px;
    }

    .parallax-header h1 {
        font-size: 40px;
    }

    .slider_area .middle {
        left: 0;
    }

    .slider_area h1 {
        font-size: 40px;
        line-height: 53px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 735px) {

    .slider_area .item {
        height: 85vh;
    }

    .slider_area h1 {
        font-size: 28px;
        margin-bottom: 10px;
        line-height: 45px;
        text-transform: uppercase;
    }

    .slider_area h2 {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 15px;
    }

    .slider_area h3 {
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 35px;
    }

    .slider_area h3:before {
        display: none;
    }

    .slider_area .middle {
        top: 50%;
        left: 0;
    }

    .slider_area .text-left {
        text-align: center !important;
    }

    .slider_area .btn-lg {
        padding: 0px 15px;
        font-size: 14px;
        border-radius: 0;
    }

    .slider_area .owl-nav .owl-prev,
    .slider_area .owl-nav .owl-next {
        width: 35px;
        height: 35px;
        font-size: 15px;
        line-height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .slider_area .owl-item {
        height: 75vh;
        position: relative;
    }

    .slider_area .owl-controls {
        position: absolute;
        right: 0px;
        top: -68px;
    }

    .slider_area .owl-dots {
        text-align: center;
        bottom: 32px;
        z-index: +1;
        position: relative;
        margin: -12px
    }

    .slider_area .owl-dot {
        display: inline-block;
        padding: 0px 5px;
    }

    .slider_area .owl-dot span {
        width: 12px;
        height: 12px;
        display: inline-block;
        background: #cccccc;
        border-radius: 100px;
    }

    .slider_area .owl-dot.active span {
        background: #ec0582;
    }

    .video-fullscreen-wrap h1 {
        font-size: 30px;
    }

    .video-fullscreen-video {
        height: 100%;
        width: 100%;
    }

    .bg-fixed {
        background-attachment: fixed;
        background-position: right;
    }

    .parallax-header:before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
    }
}