
/*=================About-Tab-Box-Start============*/

.founder{
    padding: 0 0 120px 0;

}
.founder .founder-info{
   
    background-color: #f9f9f9;
    padding: 50px 80px 50px 50px;
     margin: 10% 0 0 0;

}
.founder .founder-info h5{
    font-size: 16px;
    font-weight: normal;
    color: #239df3;
}
.founder .founder-info h1{
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.founder .ceo-img{
   
}
.ceo-name{
    padding: 30px 50px 0 0;
}
.ceo-name h3{
    font-size: 22px;
    text-align: right;
}
.core-value{
    background-color: #013362;
    
}
.core-value .single-core{
    padding: 70px 0 70px 0;
    border-right: 1px solid #1f5385;
}
.core-value .single-core:last-child{
     border-right: 1px solid #1f5385;
}
.core-value .core-icon{
    width: 80px;
    height: 80px;
    background-color: #FFF;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.core-value h5{
    text-align: center;
    font-size: 18px;
    color: #FFF;
    margin-top: 20px;

}
.counter-area.top-up{
    top: 0px;
}

















.about-page {
    width: 100%;
   
}
.about-page .banner_area{
   height: 490px;
}
.aboutpage-main {
    width: 100%;
   
}
.aboutpage-contmain {
    padding-bottom: 30px;
    border-bottom: solid 1px #e9e9e9;
}
.whoweare-content{
    padding: 0 0 0 30px;
}
.about-page .whoweare-content h3 {
    font-size: 35px;
    color: #302e32;
    line-height: 40px;
    font-weight: 600;
    margin-bottom: 25px;
}
.about-page .whoweare-content p {
    padding: 0px;
}
.commonsrvs-list {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.commonsrvs-list li {
    padding: 8px 0px 8px 32px;
    position: relative;
}
.commonsrvs-list li:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    text-align: center;
    font-size: 9px;
    color: #ffff;
    line-height: 22px;
    position: absolute;
    left: 0;
    top: 10px;
    width: 21px;
    height: 21px;
    background: #f16c24;
    border-radius: 100px;
}
.commonsrvs-list li span {
    font-size: 16px;
    color: #212529;
    font-weight: 400;
    line-height: 24px;
}
.about-page #book-consul{
    background-color:#5a3e59; 
}
.about-page #book-consul::before{
    background-image: none;
}
/*...................myteam-section-Start...................*/
.myteam-section {
    width: 100%;
    float: left;
    padding: 90px 0px;
   
}
.myteam-section .myteam-group {
    width: 33.333%;
    float: left;
    padding:10px;
}
.fullteam_main {
    position: relative;
}
.fullteam_text {
    width: 80%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 21%;
    margin: auto;
    padding: 20px 60px;
    box-shadow: 0px 0px 100px 120px #fff;
    background: #fff;
    text-align: center;
}
.fullteam_text p{
   font-size: 16px;
   color: #494949;
}
/*...................myteam-section-End...................*/


/*===================================================about-section-part===================================================*/
.aboutshortinfo-section {
    width: 100%;
    float: left;
    padding-top: 30px;
    background: url(../../img/about-bg.html) left top no-repeat;
    background-size: cover;
}
.aboutcompany-section .container {
    position: static;
}
.aboutshortinfo-gridmain {
    width: 100%;
    float: left;
    position: static;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.aboutshortinfo-mainpanel {
    width: 55%;
    float: left;
}
.aboutshortinfo-contents {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}
.chat-icon {
    width: 170px;
    position: absolute;
    left: 30px;
    top: 0px;
}
.aboutshortinfo-contents h3 {
    padding-bottom: 35px;
    font-size: 35px;
    color: #2c4154;
    font-weight: 700;
}
.aboutshortinfo-contents p {
    padding: 10px 0px 60px 0px;
    color: #363636;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
}
.sign-text {
    float: right;
    font-size: 40px;
    margin-right: -30px;
    font-family: 'Dancing Script', cursive;
}
.aboutshortinfo-contents img {
    float: right;
    padding-right: 20px;
}
.aboutimg-mainpanel {
    width:45%;
    float: right;
    overflow: hidden;
    position: relative;
}
.aboutimg-panel {
    width: 100%;
    float: left;
    text-align: center;
}
.aboutimg-panel img{
    max-width:90%;
    margin: auto;
}

/*===================================================about-section-end===================================================*/

/*===================================================partner-section-Start===================================================*/
.partner-section {
    width: 100%;
    float: left;
    padding: 30px 0px 60px 0px;
}
.partner_grouppanel {
    height: 100%;
    padding: 20px 0px;
}
.partner_grid {
    width: 100%;
    float: left;
    /* background: #fcfbfc; */
    padding: 0px 20px;
}
.partner_imgpanel {
    width: 100%;
    height: 100%;
    padding: 15px 23px;
    margin: auto;
    display: table;
    vertical-align: middle;
    border-radius: 3px;
    text-align: center;
    transition: all 0.3s ease-in;
    box-shadow: 0px 0px 16.19px 18.81px rgb(0 0 0 / 2%);
}
.partner_imgpanel:hover {
    box-shadow: 0px 0px 8.19px 4.81px rgb(0 0 0 / 5%);
}
.partner_imginner {
    margin: auto;
    display: table-cell;
    vertical-align: middle;
}
.partner_imgpanel img {
    max-width: 100%;
    max-height: 100%;
}
/*===================================================partner-section-end===================================================*/

/*===================================================About-Tab-Box-End===================================================*/

@media screen and (max-width: 1024px) {
    .whoweare-section {
        text-align: left !important;
    }
}
@media screen and (max-width: 992px) {
    .whoweare-section {
        text-align: center !important;
    }
    .commonsrvs-list {
        display: table;
        margin: auto;
        text-align: left;
    }
    .call-appointment {
        margin: auto;
    }
    .aboutshortinfo-gridmain {
        align-items: initial;
    }
    .chat-icon {
        width: 100px;
        left: 0px;
    }
    .aboutimg-mainpanel {
        display: flex;
    flex-wrap: wrap;
    }
    .aboutimg-panel {
        margin-top: auto;
    }
    .sign-text {
        margin: 0px;
    }
}
@media screen and (max-width: 767px) {
    .aboutpage-main {
        padding: 60px 0px 0px 0px;
    }
    .myteam-section {
        padding: 60px 0px 30px 0px;
    }
    .fullteam_text {
        width: 100%;
        position: initial;
        padding: 5px 15px;
        box-shadow: 0px 0px 44px 50px #fff;
    }
}

@media screen and (max-width:576px) {
    .aboutpage-main {
        padding: 30px 0px 0px 0px;
    }
    .about-page .whoweare-content h3 {
        font-size: 22px;
        line-height: 28px;
    }
    .about-page .whoweare-content p {
        padding: 20px 0px;
    }
    .commonsrvs-list li span {
        font-size: 13px;
        line-height: 14px;
    }
    .call-appointment {
        margin-top:15px !important;
    }
    .aboutshortinfo-mainpanel, .aboutimg-mainpanel {
        width: 100%;
        text-align: center;
    }
    .aboutshortinfo-contents h3 {
        padding-bottom: 5px;
        font-size: 24px;
    }
    .aboutshortinfo-contents p {
        padding: 5px 0px 10px 0px;
        font-size: 16px;
        line-height: 26px;
    }
    .sign-text {
        float: none;
    }
    .myteam-section {
        padding: 30px 0px;
    }
    .partner_grouppanel {
        padding: 15px 0px;
    }
}