/* Start Blog Page css

============================================================================================ */

.blog-page {

    padding: 130px 0px 100px 0px;
    background-color: #f9f9f9;

}
.blog-page .main_blog_inner .blog_image img {

    max-width: 100%;
}
.main_blog_items {

    padding-right: 30px;

}
.main_blog_items .main_blogpost_item {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    padding: 25px;
    background-color: #FFF;
    box-shadow: 0px 1px 8px 1px rgb(0 0 0 / 5%);
}
.main_blog_items .main_blogpost_item .blog_image {

    overflow: hidden;
    position: relative;
    z-index: 2;

}
.main_blog_items .main_blogpost_item .blog_image:before {

    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;

}
.main_blog_items .main_blogpost_item .blog_image img {
    width: 100%;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.main_blog_items .main_blogpost_item .blog_image .date {
    height: 76px;
    width: 76px;
    z-index: 3;
    background:#ec0582;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.main_blog_items .main_blogpost_item .blog_image .date h5 {
    font-size: 30px;
    color: #fff;
    padding-top: 16px;
    letter-spacing: .66px;
    line-height: 22px;
}

.main_blog_items .main_blogpost_item .blog_image .date h5 span {
    font-size: 16px;
    line-height: 16px;
}

.main_blog_items .main_blogpost_item .blog_image:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.main_blog_items .main_blogpost_item .blog_image:hover:before {
    opacity: 1;
}

.main_blog_items .main_blogpost_item .main_blog_text{
    background-color: transparent;
    /*padding: 15px 30px;
    border: 1px solid #e4e4e4;*/
}

.main_blog_items .main_blogpost_item .main_blog_text h2 {
    font-size: 24px;
    color: #242424;
    text-transform: capitalize;
    letter-spacing: .40px;
    padding-top:40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}
.main_blog_items .main_blogpost_item .main_blog_text .blog_author_area {
    padding-top: 10px;
    margin-bottom: 30px;
}
.main_blog_items .main_blogpost_item .main_blog_text .blog_author_area a {
    font-size: 16px;
    color: #000;
    margin-right: 25px;
    font-weight: normal;
}
.main_blog_items .main_blogpost_item .main_blog_text .blog_author_area a i {
    color: var(--color-primary);
    padding-right: 10px;
}
.main_blog_items .main_blogpost_item .main_blog_text .blog_author_area a span:hover {
    color: #242424;
}
.main_blog_items .main_blogpost_item .main_blog_text .blog_author_area a:last-child {
    margin-right: 0px;
}

.main_blog_items .main_blogpost_item .main_blog_text p {

    font-size: 16px;
    padding-bottom: 20px;
}
.main_blog_items .main_blogpost_item .main_blog_text .b_readmore:hover {
    color: #fff;
    border-color: #18ba60;
}
.main_blog_items .main_blogpost_item .main_blog_text .b_readmore:hover:before {

    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

/*

.main_blog_items .main_blogpost_item:last-child {

    margin-bottom: 0px;

}*/



.blog_pagination {
    width: 100%;
    float: left;
    margin-top: 50px;
    clear: left;
}
.blog_pagination .pagination {
    margin: 0px;
}

.blog_pagination .pagination li {

    margin-right: 8px;
    display: inline-block;

}
.blog_pagination .pagination li a {

    border: 1px solid #d4d4d4;
    padding: 8px 15.5px;
    border-radius: 0px !important;
    font-size: 18px;
    color: #242424;
    /*font-family: "Open Sans", sans-serif;*/
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;

}
.blog_pagination .pagination li a:focus {

    background: #ffd521;
    color: #000;
    border-color: #ffd521;

}
.blog_pagination .pagination li:last-child {

    margin-right: 0px;

}
.blog_pagination .pagination li:hover a, .blog_pagination .pagination li.active a {

    background: #09223c;
    border-color: #09223c;
    color: #fff;

}

/* End Blog Main area css

============================================================================================ */

/* Sidebar area css

============================================================================================ */



.blog_sidebar_area{

    /*border-left: 1px solid #e4e4e4;*/
    background-color: #FFF;
    padding: 25px;

}
.mrgn_widget {

    margin-bottom: 40px;

}
.mrgn_widget:last-child {

    margin-bottom: 0px;

}
.blog_widget_title {

    padding-bottom: 25px;

}
.blog_widget_title h3 {

    font-size: 20px;
   /* font-weight: bold;*/
    text-transform: uppercase;
    color: #242424;

}
/*.blog_widget_title h3::before {

    content: "";
    width: auto;
    height: 2px;
    background: #242424;
    display: block;
    position: relative;
    top: 30px;
    left: 0;
    margin: auto;

}*/
.search_widget .input-group input {

    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000;
    border-radius: 0px;
    height: 52px;
    font-size: 14px;
    color: #909090;
    padding: 0px 15px;
    font-family: "Lato", sans-serif;

}
.search_widget .input-group input.placeholder {

    font-size: 14px;
    color: #909090;
    font-family: "Lato", sans-serif;

}
.search_widget .input-group input:-moz-placeholder {

    font-size: 14px;
    color: #909090;
    font-family: "Lato", sans-serif;

}
.search_widget .input-group input::-moz-placeholder {

    font-size: 14px;
    color: #909090;
    font-family: "Lato", sans-serif;

}
.search_widget .input-group input::-webkit-input-placeholder {

    font-size: 14px;
    color: #909090;
    font-family: "Lato", sans-serif;

}
.search_widget .input-group .input-group-btn .btn-default {

    border-radius: 0px;
    width: 48px;
    height: 52px;
    border-color: #000;
    padding: 0px;
    background: #000;
    color: #FFF;

}
.categories_widget{

}
.categories_widget ul {
    list-style: none;
    margin: 0px;
    padding: 15px;
    border: 1px solid #e4e4e4;  
    margin-top: -5px;

}
.categories_widget ul li a {

    font-size: 16px;
    color: #242424;
    border-bottom: 1px solid #e6e6e6;
    display: block;
    line-height: 42px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    font-weight: normal;

}
.categories_widget ul li a i {

    float: right;
    line-height: 42px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;

}
.categories_widget ul li:last-child a {

    border-bottom: 0px;

}
.categories_widget ul li:hover a {

    color: #242424;

}
.categories_widget ul li:hover a i {

    padding-right: 7px;

}
.recent_news_widget{
    
}
.recent_news_widget .recent_inner{
    padding: 15px;
    border: 1px solid #e4e4e4;

}
.recent_news_widget .recent_inner .recent_item {
    padding: 20px 0px;
    border-bottom: 1px solid #e1e1e1;

}
.recent_news_widget .recent_inner .recent_item .r-bl-img{
    width: 100px;
    height: 92px;
    background-color: #000;
    float: left;
    margin-right: 15px;
}
.recent_news_widget .recent_inner .recent_item h4 {

    font-size: 15px;
    color: #242424;
    /* font-family: 'Roboto', sans-serif;*/
    line-height: 22px;
    letter-spacing: .34px;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    font-weight: 400;

}
.recent_news_widget .recent_inner .recent_item h4:hover {

    color: #242424;
    text-decoration: underline;

}
.recent_news_widget .recent_inner .recent_item h5 {

    font-size: 14px;
    color: var(--color-primary);
    padding-top: 15px;
    font-weight: normal;

}
.recent_news_widget .recent_inner .recent_item:first-child {

    padding-top: 0px;

}
.recent_news_widget .recent_inner .recent_item:last-child {

    border-bottom: 0px;

}
.recent_news_widget ul{
    padding: 15px;
    border: 1px solid #e4e4e4; 
}
.recent_news_widget ul li {

    display: inline-block;
    margin-right: 0px;
    margin-bottom: 10px;
}
.recent_news_widget ul li a {

    display: inline-block;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    font-size: 15px;
    line-height: 35px;
    padding: 0px 7px;
    color: #787676;
    -webkit-transition: all 400ms linear 0s;
    -o-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;

}
.recent_news_widget ul li:nth-last-child(-n+2) {

    margin-bottom: 0px;

}
.recent_news_widget ul li:nth-child(even) {

    margin-right: 0px;

}
.recent_news_widget ul li:hover a {

    color: #18ba60;
    border-color: #000;
    background: #000;
    color: #fff;
    border-radius: 4px;

}

/* End Sidebar area css

============================================================================================ */

/* Single Blog area css

============================================================================================ */

.single_blog_details .main_blog_items .main_blog_item {

    margin-bottom: 15px;

}
.blog_quote {

    width: 100%;
    float: left;    
    background: #5d5c60;
    margin-top: 0px;
    border-radius: 4px;
    padding: 20px 40px 32px 30px;

}
.blog_quote p {

    padding-left: 60px;
    position: relative;
    margin-top: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #FFF;
}
.blog_quote p i {

    font-size: 45px;
    color: #FFF;
    position: absolute;
    left: 0px;
    top: -15px;

}
.blog_quote a {

    text-align: right;
    display: block;
    font-size: 16px;
    color: #FFF;
    letter-spacing: .48px;
}

.s_main_text {

    padding-top: 38px;

}
.s_main_text p {

    font-size: 15px;
    line-height: 26px;
    color: #8e8d8d;
    letter-spacing: .45px;

}
.s_main_text p strong {
    font-weight: bold;
    font-style: italic;

}

.s_main_text p a {
    color: #a175aa;
    text-decoration: underline;

}
.comment_list_area {
    width: 100%;
    float: left;
    margin-top: 50px;

}
.comment_list_area h3 {

    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: .66px;
    color: #242424;
    padding-bottom: 30px;

}
.comment_list_area .comment_list_inner {

    border: 1px solid #eeeeee;

}
.comment_list_area .comment_list_inner .media {

    padding-top: 25px;
    padding-bottom: 28px;
    padding-left: 25px;
    padding-right: 75px;
    margin-top: 0px;
    border-bottom: 1px solid #eeeeee;

}
.comment_list_area .comment_list_inner .media .media-img {

    padding-right: 30px;
    float: left;

}
.comment_list_area .comment_list_inner .media .media-img img{

    border-radius: 50%;

}
.comment_list_area .comment_list_inner .media .media-body h4 {
    font-size: 18px;
    letter-spacing: .45px;
    padding-bottom: 10px;
    color: #000;
}
.comment_list_area .comment_list_inner .media .media-body p {

    font-size: 16px;

}
.comment_list_area .comment_list_inner .media .media-body .date_rep {

    margin-top: 10px;

}
.comment_list_area .comment_list_inner .media .media-body .date_rep a {
    font-size: 14px;
    letter-spacing: .39px;
    color: var(--color-primary);
    font-weight: 400;
    margin-right: 20px;
    position: relative;
}
.comment_list_area .comment_list_inner .media .media-body .date_rep a:before {

    content: "";
    background: #000;
    height: 13px;
    width: 1px;
    position: absolute;
    right: -12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}
.comment_list_area .comment_list_inner .media .media-body .date_rep a:last-child {

    color: #FFF;
    padding: 5px 10px 5px;
    background-color: #000;
    border-radius: 3px;
    display: inline-block;

}
.comment_list_area .comment_list_inner .media .media-body .date_rep a:last-child:before {

    display: none;

}



.comment_list_area .comment_list_inner .media .media-body .media {

    background: transparent;
    padding-left: 0px;
    padding-top: 40px;
    padding-right: 0px;

}
.comment_list_area .comment_list_inner .media:nth-child(even) {

    background: #fcfcfc;

}
.comment_list_area .comment_list_inner .media:last-child {

    border-bottom: none;

}
.blog_comment_box {
    width: 100%;
    float: left;
    margin-top: 60px;

}
.blog_comment_box h3 {

    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .66px;
    color: #242424;
    padding-bottom: 30px;

}
.blog_comment_box .blog_comment_inner {

    background: #f7f7f7;
    border: 1px solid #eeeeee;
    padding: 50px 35px;

}
.blog_comment_box .blog_comment_inner .form-group input[type="text"] {

    background: #fff;
    border-color: #eeeeee;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 0px;
    height: 45px;
    padding: 6px 12px;

}

.blog_comment_box .blog_comment_inner .form-group input[type="email"] {

    background: #fff;
    border-color: #eeeeee;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 0px;
    height: 45px;
    margin-bottom: 0;

}
.blog_comment_box .blog_comment_inner .form-group input.placeholder {

    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group input:-moz-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group input::-moz-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group input::-webkit-input-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group textarea {

    background: #fff;
    border-color: #eeeeee;
    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 0px;
    height: 200px;
    padding: 18px 12px;
    resize: none;

}
.blog_comment_box .blog_comment_inner .form-group textarea.placeholder {

    font-size: 14px;
    color: #c4c4c4;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group textarea:-moz-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group textarea::-moz-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group textarea::-webkit-input-placeholder {

    font-size: 14px;
    color: #c4c4c4;
    font-family: "Open Sans", sans-serif;
    letter-spacing: .42px;

}
.blog_comment_box .blog_comment_inner .form-group:last-child {

    margin-top: 10px;

}

/*-- End Blog Page css--*/



/*-- Start responsive css--*/

@media only screen and (max-width: 1024px){

    .blog_sidebar_area {

        border-left: none;
        padding-left: 0px;
        margin-top: 0px;

    }
    .blog_widget_title h3 {

        font-size: 19px;

    }

}

@media only screen and (max-width: 991px){

    .blog_sidebar_area {

        border-left: none;
        padding-left: 0px;
        margin-top: 40px;
    }

    .blog_widget_title h3 {

        font-size: 19px;
    }

}



@media only screen and (min-width: 320px) and (max-width: 736px){

    .blog-page {

        padding: 50px 0px;

    }

    .main_blog_items .main_blogpost_item .main_blog_text h2 {

        font-size: 18px;

    }

    .main_blog_items .main_blogpost_item .main_blog_text .blog_author_area a {

        margin-right: 8px;
        font-size: 14px;

    }

    .main_blog_items {

        padding-right: 0px;

    }

    .blog_sidebar_area {

        border-left: none;
        padding-left: 0px;
        margin-top: 40px;

    }

    .comment_list_area .comment_list_inner .media {

        padding-right: 20px;

    }

}
