

/*===================================================campusgallery-section-Start===================================================*/
.fancybox-overlay {
    z-index: 999999 !important;
}
.campusgallery-section {
    width: 100%;
    float: left;
    background: #315478;
    background:url(../../img/gallery/gallery-bg.html) left top no-repeat;
    background-size: cover;
    padding: 55px 0px;
}
.campusgallery-section .page-heding  {
    text-align: left;
}
.campusgallery-section .page-heding h3 {
    color: #fff;
}
.campusgallery-section .post-filter li {
    padding-left: 25px;
}
.campusgallery-section .post-filter li span {
    padding: 7px 0px;
    color: #ffeb10;
    font-size: 20px;
    border: none;
    border-radius: 0px;
    border-bottom: solid 1px transparent;
}
.campusgallery-section .post-filter li:hover span, .campusgallery-section .post-filter li.active span {
    background:#de2223;
     color: #fff;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.campusgallery-section .common-btn {
    padding: 15px 30px;
    font-size: 20px;
    color: #ffeb10;
    font-weight: 400;
    outline: none;
    border: solid 1px #ffeb10;
    border-radius: 0px;
}
.campusgallery-section .common-btn:hover {
    color: #fff;
     border: solid 1px #fff;
    text-decoration: none;
}
.campusevent-grouppanel {
    width: 100%;
    float: left;
    padding-bottom: 30px;
}
.campusevent-imgpanel {
    position: relative;
/*    overflow: hidden;*/
}
.campusevent-imgpanel img {
    width: 100%;
}
.campusevent-contentpanel {
    width: 100%;
     height: 100%;
    float: left;
    display: table;
}
.campusevent-contentpanel > p {
   padding: 20px;
    display: table-cell;
    vertical-align: bottom;
    color: #fff;
    font-size: 20px;
    text-align: left;
    line-height: 26px;
}
.event-btn {
    padding: 11px 40px;
    background: #ffeb10;
    font-size: 18px;
    color: #000;
    position: absolute;
    left: -15px;
    top: 0px;
}
.event-btn:before {
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    border: solid 13px transparent;
    border-bottom: solid 13px #ffeb10;
    position: absolute;
    left: 5px;
    bottom: -13px;
    transform: rotate(48deg);
}
.commonimg-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background:rgba(0, 0, 0, 0.64);
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
}
.campusevent-grouppanel .commonimg-overlay {
    opacity: 1;
    background: rgba(0, 0, 0, 0.53);
}
.campusevent-grouppanel .play-video {
    top: 0px;
}
/*===================================================campusgallery-section-End===================================================*/

/*===================================================singlepagegallery-css-Start===================================================*/

.latest-gallery{
  padding:90px 0px ;
}
.latest-gallery .sec_middle_title {
    padding-bottom: 30px;
}
.latest-gallery h1{
  font-size: 35px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.latest-gallery .single-item {
  padding-bottom: 30px;
}
.latest-gallery .single-item.padd-none{
  padding: 0px !important;
}
.latest-gallery .single-item .img-box {
  position: relative;
  overflow: hidden;
}
.latest-gallery .single-item .img-box img {
  width: 100%;
}
.latest-gallery .single-item .title h5 {
  color: #222;
  padding: 25px 0 0;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition:.5s ease;
  transition: .5s ease;
}
.latest-gallery .single-item:hover .title h5 {
  color: #48c7ec;
  -webkit-transition:.5s ease;
  transition: .5s ease;
}

.latest-gallery .single-item .img-box .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background:rgba(42,41,41,0.9) ;
  text-align: center;
  opacity: 0;
  transition: all .3s ease;
 /* border: 2px solid #FFF;*/
}

.latest-gallery .single-item .img-box .overlay .social {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.latest-gallery .single-item .img-box .social a:hover {
  text-decoration: none; 
}

.latest-gallery .single-item .img-box .overlay .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.latest-gallery .single-item .social a i:before {
  font-size: 20px;
  color: #000;
  margin: 0px;
  border: 1px solid #FFF;
  background-color: #FFF;
  padding: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.latest-gallery .single-item .social h4 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}

.latest-gallery .single-item .img-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.latest-gallery .single-item .img-box .overlay .box .content {
  display: table-cell;
  vertical-align: bottom;
}
.latest-gallery .single-item .img-box .overlay .top {
  text-align: center;
}
.latest-gallery .single-item .img-box .overlay .top ul {
  margin-bottom: 0;
  margin-bottom: 20%;
}
.latest-gallery .single-item .img-box .overlay .top li a {
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background: #222;
  display: block;
  border-radius: 50%;
  -webkit-transition:.4s ease;
  transition: .4s ease;
}
.latest-gallery .single-item .img-box .overlay .top li a:hover {
  background: #1f1f1f;
  color: #48c7ec;
}
.latest-gallery .single-item .img-box .overlay .bottom {
  padding: 10px 0px;
  padding-right: 0;
  text-align: center;
}
.latest-gallery .single-item .img-box .overlay .bottom .title h3 {
  margin: 0;
  color: #fff;
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  font-size: 15px;
}
.latest-gallery .single-item:hover .img-box .overlay {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
  visibility: visible;
}
.post-filter {
  display: inline-block;
  margin: 0;
  margin-bottom: 50px;
}
.post-filter li {
    display: inline-block;
    padding: 5px 5px;
}
.post-filter li span {
    padding: 8px 18px;
    color: #343434;
    font-size: 14px;
    border: 1px solid var(--color-primary);
    font-weight: 600;
    line-height: 24px;
    display: block;
    padding-right: 16px;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    border-radius: 4px;
    text-transform: uppercase;
}
.post-filter li:hover span,
.post-filter li.active span {
    color: #fff;
    background:#ec2d1c;
    background-color: var(--color-primary);
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
/*===================================================singlepagegallery-css-End===================================================*/