/*...................team-page-Start...................*/
.team-page{
    width: 100%;
    padding:120px 0 0 0;
}
.team-detail{

}
.team-single {
    position: relative;
    display: block;
    margin-bottom: 30px;
}
.team-img {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
}
.team-single .con{
  position: relative;
    margin-left: 20px;
    margin-right: 20px;
    bottom: 45px;
    z-index: 2;
    background: #000;
    padding: 25px 20px;
    opacity: 1;
    visibility: visible;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    overflow: hidden;
    z-index: 1;
    border-radius: 0px;
}
.team-single .con h5{
    font-size: 22px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
}
.team-single .con .arrow {
    position: relative;
    display: block;
    top: 0px;
    visibility: visible;
    opacity: 1;
    transform: rotate(0);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.team-single:hover .con .arrow {
    visibility: visible;
    transform: translateY(0%);
    opacity: 1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.team-single .con .arrow a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #dc2751;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 100%;
    background: #fff;
}
.team-single .con .arrow a:hover {
    background: #fff;
    color: #dc2751;
}
.team-single .con h5 a{
    font-size: 22px;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.team-single .con p {
    font-size: 16px;
    color: #FFF;
    text-align: center;
    margin-top: 0px;
    font-weight: 300;

}
.team-profile-image{

}
.team-bio{
    padding-left: 0px;
}
.team-bio h3{
    font-size: 18px;
    text-transform: uppercase;
    background-color: var(--color-primary);
    background-color: var(--color-primary);
    padding: 10px 0 10px 15px;
    margin-bottom: 20px;
    width: 30%;
    color: #FFF;
    letter-spacing: 2px;
}
.team-bio ul {
    margin-top: 30px;
}
.team-bio > ul > li {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}
.team-bio .list-icon{

}
.team-bio .list-text {
    margin-left: 10px;
}
.team-bio .list-text p{

}
.team-bio .list-text p a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.team-bio ul li i {
    color: var(--color-primary);
    margin-right: 10px;
}
.team-bio h1{
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.team-bio .we_tab{
    padding-top: 60px;
    margin-bottom: 0px;
    float: left;
    width: 100%;
}
.team-bio .tab {
    overflow: visible;
}
.team-bio .tab button {
    /*float: right;*/
    left: 0;
    top: 5px;
    border: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 18px 40px;
    transition: 0.3s;
    font-size: 16px;
    background: transparent;
    color: #000;
    margin-right: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    position: relative; 
    text-transform: capitalize; 
    font-weight: 600;
}
.team-bio .tab button::before {
    /*content: "";*/
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 19px solid #f09503;
    position: absolute;
    bottom: -19px;
    left: 50%;
    transform: translate(-50%,-0px); 
    transition: 0.3s;
}
.team-bio .tab button:hover::before {border-top: 19px solid #759942;}
.team-bio .tab button.active::before {border-top: 19px solid #759942;}
.team-bio .tab button:hover {background-color: #09223c;color: #fff}
.team-bio .tab button.active {background-color: var(--color-primary); color: #fff}
.team-bio .tabcontent {display: none;padding: 0;border-top: none;}
.team-bio .topright {float: right;cursor: pointer;font-size: 28px;}
.team-bio .experience_content-outer {
 
    /*overflow: hidden;*/
    border-radius: 0px;
    background-color: #fff;
    border-top: 2px solid #ec0582;
    margin-top: 5px;
    float: left;
    padding-right: 0px;
    width: 510px;

}

.team-bio .experience_content{
    
    float: left;
    padding-top: 25px;
}
.team-bio .experience_content .icon-bx{
    width: 68px;
    height: 68px;
    border-radius: 6px;
    background-color: #FFF;
    float: left;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.team-bio .experience_content p{
    font-size: 15px;
    color: #000;
}

.team-bio .expe_main{
    padding-left: 90px;
}
/*.expe_main .expe_left{float: left;width: 50px;padding-top: 5px;}*/
.team-bio .exp_text{margin-left: 0px; color: #000; font-size: 16px; margin-top: 0px; }


@media only screen and (max-width: 990px){
    .our-team{ 
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 735px){

    .team-main{
        padding: 0;
    }
}

/*...................team-page-End...................*/


